.media-object {
  max-width: 200px;
}

[ng-click] {
  cursor: pointer;
}

.search-form {
  margin-top: 4px;
}

main.container {
  margin-bottom: 4em;
}

.has-error {
  color: red;
}

.nav-wrapper {
  background-color: #7d7f34;
}

a.brand-logo {
  font-family: 'Satisfy', cursive;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
}

a.manu-bar {
  font-family: 'Montserrat:900', sans-serif;
  font-size: 20px;
}

.ng-binding {
  font-family: 'Montserrat', sans-serif;
}

div .card-content {
  background-color: #cddc39;
}

body html {
  background-color: #f1f8e9;
}

#google-map-tab {
  display: flex;
  flex-direction: column;
}