.media-object {
  max-width: 200px;
}

[ng-click] {
  cursor: pointer;
}

.search-form {
  margin-top: 4px;
}

main.container {
  margin-bottom: 4em;
}

.has-error {
  color: red;
}

/* nav container */
.navBar md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }
