html,
body {
  margin: 0;
  padding: 0;
  background-color: #f1f8e9;  
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.media-object {
  max-width: 200px;
}

[ng-click] {
  cursor: pointer;
}

/*navbar*/
.nav-wrapper {
  background-color: #7d7f34;
}

a.manu-bar {
  font-family: 'Montserrat:900', sans-serif;
  font-size: 20px;
}

.ng-binding {
  font-family: 'Montserrat', sans-serif;
}

/*about page*/
/*.about-container{
  background-image: url(img/tom-demo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 99;
}

div .content-about{
  left: 0;
  top: 0;
  margin: auto;
  padding-top:50px;
  background-color: white, transparent;
  max-width: 600px;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}*/

.about-container {
background: url(img/tom-demo.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
width: 75%;
margin: auto;
color: white;
}
.about-container .content-conta {
font-family: 'Montserrat', sans-serif;
font-size: 20px;
display: table-cell;
text-align: center;
vertical-align: middle;
height: 689px
}

/*map*/
#google-map-tab {
  display: flex;
  flex-direction: row;
}

/*filter card*/
div.filter-conatiner{
  margin-left: 20px;
  max-width: 708px;
}

md-input-container {
  margin:40px;
}

/*variety profile content*/
div .variety-card{
  padding:40px;
}

h1.md-title {
  font-family: 'Montserrat Alternates:700', sans-serif;
  align-content: center;
  margin-left:40px;
}

.card .card-content{
  padding: 20px;
  background-color: #cddc39;    
}

.card-image {
  height: 100%;
  width: 100%;
}

.selected_varieties {
  list-style-type: none;
  font-size: 20px;
  margin-left: 40px;
}

div .container{
  display: flex;
  font-family: 'Montserrat', sans-serif;    
}

/*app logo*/
a.brand-logo {
  font-family: 'Satisfy', cursive;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
  color: white;
}

/*footer*/
footer {
  height: 50px;
  background-color: #7d7f34; 
  font-family: 'Montserrat Alternates:700', sans-serif;  
  padding-left:20px;
}

/*app background*/
body, html {
  background-color: #f1f8e9;
}

/*keep fooder at the bottom*/
ui-view{
  min-height: calc(100vh - 50px); 
}

