html,
body {
  margin: 0;
  padding: 0;
  background-color: #f1f8e9;  
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.media-object {
  max-width: 200px;
}

[ng-click] {
  cursor: pointer;
}

/*navbar*/
.nav-wrapper {
  background-color: #7d7f34;
}

a.manu-bar {
  font-family: 'Montserrat:900', sans-serif;
  font-size: 20px;
}

nav ul a {
  transition: background-color 0.5s ease;
}

nav ul a:hover{
  background-color: #cddc39;
  color:black;
}

.ng-binding {
  font-family: 'Montserrat', sans-serif;
}

a.ng-binding {
  color:#33691e;
}

/*about page*/

.about-container {
background: url(img/tom-demo.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
width: 75%;
margin: auto;
color: white;
}

.about-container .content-conta {
font-family: 'Raleway', sans-serif;
font-size: 20px;
display: table-cell;
text-align: center;
vertical-align: middle;
height: 689px
}

.content-about-box {
  /*border: solid white 1px;*/
  background-color: rgba(0, 0, 0, 0.55);
  width: 90%;
  margin-left: 5%;
  padding: 2%;
  transition: background-color 0.5s ease;
}

.content-about-box:hover {
  background-color: #cddc39;
  color:black;
}

/*map*/
#google-map-tab {
  display: flex;
  flex-direction: row;
}

/*filter card*/
div.filter-conatiner{
  margin-left: 20px;
  max-width: 708px;
}

md-input-container {
  margin:40px;
}

h1.md-title {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

h1.title-city {
  font-size: 30px;
  margin-top: 50px;
  margin-left:40px;
}

span {
  font-size: 40px;
  color: #33691e;
}

/*variety profile content*/
div .variety-card{
  padding:40px;
}

.card .card-content{
  padding: 20px;
  background-color: #cddc39;    
}

.card-image {
  height: 100%;
  width: 100%;
}

.selected_varieties {
  list-style-type: disc;
  list-style-image: url(img/ecology-icon.png);
  list-style-position: inside;
  font-size: 20px;
  margin-left: 40px;
}

div .container{
  display: flex;
  font-family: 'Raleway', sans-serif;    
}

/*app logo*/
a.brand-logo {
  font-family: 'Satisfy', cursive;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
  color: white;
}

/*footer*/
footer {
  height: 50px;
  background-color: #7d7f34; 
  font-family: 'Raleway:700', sans-serif;  
  padding-left:20px;
}

/*app background*/
body, html {
  background-color: #f1f8e9;
}

/*keep fooder at the bottom*/
ui-view{
  min-height: calc(100vh - 50px); 
}

