<!-- MAIN CONTAINER -->
<div map-lazy-load="http://maps.google.com/maps/api/js?key=AIzaSyBEFCJEB2PAORJilE22B76k071qkgz7_Ww" map-lazy-load-params="{{vm.googleMapsUrl}}">
    <div id="google-map-tab" class="col s12">
        <div class="col s8 offset-s2 layout-margin layout-xs="column"">
            <ng-map flex zoom="4" center="[40.01, -95.27]" style="height:50vw; width:50vw;">
                <marker id="{{id}}" position="[{{city.lat}}, {{city.lng}}]" ng-repeat="(id,city) in $ctrl.results" on-click="$ctrl.showCity(event,id)">
                    <!--optimized="false"
            icon="{
                url:'css/seed2.png',
                scaledSize:[50,60],
                origin: [10,10],
                anchor: [50,50]
            }">-->
                    <div class="cm">
                    </div>
                </marker>
                <info-window id="info-window" max-with="200">
                    <div ng-non-bindable="">
                        <strong>City:</strong> {{$ctrl.currentCity.city_name}}<br/>
                        <strong>Species:</strong> {{$ctrl.currentCity.species}}<br/>
                        <strong>Variety:</strong></br>
                        <ul>
                            <li ng-repeat="fruit in $ctrl.currentCity.variety_name track by $index"><a ui-sref="variety">{{fruit}}</a></li>
                            <ul>
                    </div>
                </info-window>
            </ng-map>
            <div flex>

            </div>
        </div>
    </div>
</div>